In [1]:
import time
import pandas as pd
import os
import re
from bs4 import BeautifulSoup
import requests
import csv
import matplotlib
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from datetime import date
from functools import reduce
from datetime import datetime
from collections import Counter
from dateutil.rrule import rrule, DAILY
pd.set_option('display.max_columns', None)

In [2]:
def get_response(url):
    print(f"Requesting \'{url}\'")
    try:
        r = requests.get(url)
        text = r.text
        text= text.replace("<!--", "")
        text= text.replace("-->", "")
        return BeautifulSoup(text, 'lxml')
    except requests.exceptions.RequestException as e:
        print(e)
    return None

# create directory for data
directory = os.path.join(os.getcwd(), 'scrapedata')
print(f"directory is '{directory}'")
if not os.path.exists(directory):
    print(f"Creating directory \'{directory}\'")
    os.makedirs(directory)

directory is '/Users/henrytamekloe/Desktop/POC 1/scrapedata'

In [3]:
#Downloads NBA Player data 1988-2019 and NBA award voting data from www.basketball-reference.com 

# scrape player per game statistic data 1988-2019
for year in range(1956,2022):
    data = []
    url = f"http://www.basketball-reference.com/leagues/NBA_{year}_per_game.html"
    soup = get_response(url)
#     table = soup.find('table', attrs={'id':'per_game_stats'})
#     table_head = table.find('thead')
#     hrow = table_head.find('tr')
#     hcols = hrow.find_all('th')
#     hcols = [ele.text.strip() for ele in hcols]
#     data.append([ele for ele in hcols if ele])
#     table_body = table.find('tbody')
#     rows = table_body.find_all('tr')
#     for row in rows:
#         cols = [ele.text.strip() for ele in row.find_all('th')]
#         # ignore rows that contain header information
#         if cols[0] == 'Rk':
#             continue
#         cols += [ele.text.strip() for ele in row.find_all('td')]
#         #data.append([ele for ele in cols if ele])
#         # occasionally records representing pct are blank if num and denom are zero
#         data.append([ele for ele in cols])
#     fname = f"{directory}/{table.get('id')}_{year}.csv"
#     with open(fname, 'w') as file:
#         wr = csv.writer(file, delimiter=',', quoting=csv.QUOTE_ALL)
#         wr.writerows(data)

Requesting 'http://www.basketball-reference.com/leagues/NBA_1956_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1957_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1958_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1959_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1960_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1961_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1962_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1963_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1964_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1965_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1966_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1967_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1968_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1969_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1970_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1971_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1972_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1973_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1974_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1975_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1976_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1977_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1978_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1979_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1980_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1981_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1982_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1983_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1984_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1985_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1986_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1987_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1988_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1989_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1990_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1991_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1992_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1993_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1994_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1995_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1996_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1997_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1998_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1999_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2000_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2001_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2002_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2003_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2004_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2005_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2006_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2007_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2008_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2009_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2010_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2011_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2012_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2013_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2014_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2015_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2016_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2017_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2018_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2019_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2020_per_game.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2021_per_game.html'

Getting random datasets to see the information that each of them contains|

In [4]:
data = pd.read_csv('scrapedata/per_game_stats_1956.csv')
data.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Paul Arizin*,SF,27,PHW,72,NaN,37.8,8.6,19.1,0.448,NaN,NaN,NaN,8.6,19.1,0.448,0.448,7.0,8.7,0.810,NaN,NaN,7.5,2.6,NaN,NaN,NaN,3.9,24.2
1,2,Jesse Arnelle,PF,22,FTW,31,NaN,13.2,1.7,5.3,0.317,NaN,NaN,NaN,1.7,5.3,0.317,0.317,1.4,2.2,0.623,NaN,NaN,5.5,0.6,NaN,NaN,NaN,1.9,4.7
2,3,Dick Atha,SG,24,NYK,25,NaN,11.5,1.4,3.5,0.409,NaN,NaN,NaN,1.4,3.5,0.409,0.409,0.8,1.1,0.778,NaN,NaN,1.7,1.3,NaN,NaN,NaN,1.6,3.7
3,4,Jim Baechtold,SF,28,NYK,70,NaN,24.8,3.8,9.9,0.386,NaN,NaN,NaN,3.8,9.9,0.386,0.386,3.3,4.2,0.801,NaN,NaN,3.1,2.3,NaN,NaN,NaN,2.2,11.0
4,5,Ernie Barrett,SG,26,BOS,72,NaN,20.2,2.9,7.4,0.388,NaN,NaN,NaN,2.9,7.4,0.388,0.388,1.3,1.6,0.788,NaN,NaN,3.4,2.4,NaN,NaN,NaN,2.6,7.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      106 non-null    int64
 1   Player  106 non-null    object
 2   Pos     106 non-null    object
 3   Age     106 non-null    int64
 4   Tm      106 non-null    object
 5   G       106 non-null    int64
 6   GS      0 non-null      float64
 7   MP      106 non-null    float64
 8   FG      106 non-null    float64
 9   FGA     106 non-null    float64
 10  FG%     106 non-null    float64
 11  3P      0 non-null      float64
 12  3PA     0 non-null      float64
 13  3P%     0 non-null      float64
 14  2P      106 non-null    float64
 15  2PA     106 non-null    float64
 16  2P%     106 non-null    float64
 17  eFG%    106 non-null    float64
 18  FT      106 non-null    float64
 19  FTA     106 non-null    float64
 20  FT%     106 non-null    float64
 21  ORB     0 non-null      float64
 22  DRB     0 non-null      float64
 23  TRB     106 non-null    float64
 24  AST     106 non-null    float64
 25  STL     0 non-null      float64
 26  BLK     0 non-null      float64
 27  TOV     0 non-null      float64
 28  PF      106 non-null    float64
 29  PTS     106 non-null    float64
dtypes: float64(24), int64(3), object(3)
memory usage: 25.0+ KB

In [6]:
data = pd.read_csv('scrapedata/per_game_stats_1970.csv')
data.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Zaid Abdul-Aziz,PF,23,MIL,80,NaN,20.5,3.0,6.8,0.434,NaN,NaN,NaN,3.0,6.8,0.434,0.434,1.5,2.3,0.643,NaN,NaN,7.5,0.8,NaN,NaN,NaN,2.1,7.4
1,2,Kareem Abdul-Jabbar*,C,22,MIL,82,NaN,43.1,11.4,22.1,0.518,NaN,NaN,NaN,11.4,22.1,0.518,0.518,5.9,9.1,0.653,NaN,NaN,14.5,4.1,NaN,NaN,NaN,3.5,28.8
2,3,Rick Adelman*,PG,23,SDR,35,NaN,20.5,2.7,7.1,0.389,NaN,NaN,NaN,2.7,7.1,0.389,0.389,1.9,2.6,0.747,NaN,NaN,2.3,3.2,NaN,NaN,NaN,2.6,7.4
3,4,Lucius Allen,PG,22,SEA,81,NaN,22.4,3.8,8.5,0.442,NaN,NaN,NaN,3.8,8.5,0.442,0.442,2.2,3.1,0.731,NaN,NaN,2.6,4.2,NaN,NaN,NaN,2.5,9.8
4,5,Wally Anderzunas,SF,24,CIN,44,NaN,8.4,1.5,3.8,0.392,NaN,NaN,NaN,1.5,3.8,0.392,0.392,0.7,1.0,0.630,NaN,NaN,1.9,0.2,NaN,NaN,NaN,1.1,3.6

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      201 non-null    int64
 1   Player  201 non-null    object
 2   Pos     201 non-null    object
 3   Age     201 non-null    int64
 4   Tm      201 non-null    object
 5   G       201 non-null    int64
 6   GS      0 non-null      float64
 7   MP      201 non-null    float64
 8   FG      201 non-null    float64
 9   FGA     201 non-null    float64
 10  FG%     201 non-null    float64
 11  3P      0 non-null      float64
 12  3PA     0 non-null      float64
 13  3P%     0 non-null      float64
 14  2P      201 non-null    float64
 15  2PA     201 non-null    float64
 16  2P%     201 non-null    float64
 17  eFG%    201 non-null    float64
 18  FT      201 non-null    float64
 19  FTA     201 non-null    float64
 20  FT%     197 non-null    float64
 21  ORB     0 non-null      float64
 22  DRB     0 non-null      float64
 23  TRB     201 non-null    float64
 24  AST     201 non-null    float64
 25  STL     0 non-null      float64
 26  BLK     0 non-null      float64
 27  TOV     0 non-null      float64
 28  PF      201 non-null    float64
 29  PTS     201 non-null    float64
dtypes: float64(24), int64(3), object(3)
memory usage: 47.2+ KB

In [8]:
data = pd.read_csv('scrapedata/per_game_stats_1985.csv')
data.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Kareem Abdul-Jabbar*,C,37,LAL,79,79,33.3,9.2,15.3,0.599,0.0,0.0,0.000,9.2,15.3,0.600,0.599,3.7,5.0,0.732,2.1,5.8,7.9,3.2,0.8,2.1,2.5,3.0,22.0
1,2,Alvan Adams,PF,30,PHO,82,69,26.0,5.8,11.2,0.520,0.0,0.0,NaN,5.8,11.2,0.520,0.520,3.0,3.5,0.883,1.9,4.2,6.1,3.8,1.4,0.6,2.4,3.1,14.7
2,3,Mark Aguirre,SF,25,DAL,80,79,33.7,9.9,19.6,0.506,0.3,1.1,0.318,9.6,18.6,0.517,0.515,5.5,7.3,0.759,2.4,3.6,6.0,3.1,0.8,0.3,3.2,3.1,25.7
3,4,Danny Ainge,SG,25,BOS,75,73,34.2,5.6,10.6,0.529,0.2,0.7,0.268,5.4,9.8,0.549,0.539,1.6,1.8,0.868,1.0,2.6,3.6,5.3,1.6,0.1,2.0,3.0,12.9
4,5,Chuck Aleksinas,C,25,GSW,74,4,15.1,2.2,4.6,0.478,0.0,0.0,0.000,2.2,4.5,0.479,0.478,0.7,1.0,0.733,1.2,2.5,3.6,0.5,0.2,0.2,1.0,2.3,5.1

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      362 non-null    int64
 1   Player  362 non-null    object
 2   Pos     362 non-null    object
 3   Age     362 non-null    int64
 4   Tm      362 non-null    object
 5   G       362 non-null    int64
 6   GS      362 non-null    int64
 7   MP      362 non-null    float64
 8   FG      362 non-null    float64
 9   FGA     362 non-null    float64
 10  FG%     362 non-null    float64
 11  3P      362 non-null    float64
 12  3PA     362 non-null    float64
 13  3P%     281 non-null    float64
 14  2P      362 non-null    float64
 15  2PA     362 non-null    float64
 16  2P%     362 non-null    float64
 17  eFG%    362 non-null    float64
 18  FT      362 non-null    float64
 19  FTA     362 non-null    float64
 20  FT%     350 non-null    float64
 21  ORB     362 non-null    float64
 22  DRB     362 non-null    float64
 23  TRB     362 non-null    float64
 24  AST     362 non-null    float64
 25  STL     362 non-null    float64
 26  BLK     362 non-null    float64
 27  TOV     362 non-null    float64
 28  PF      362 non-null    float64
 29  PTS     362 non-null    float64
dtypes: float64(23), int64(4), object(3)
memory usage: 85.0+ KB

In [10]:
data = pd.read_csv('scrapedata/per_game_stats_1999.csv')
data.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Tariq Abdul-Wahad,SG,24,SAC,49,49,24.6,3.6,8.3,0.435,0.1,0.4,0.286,3.5,7.9,0.443,0.442,1.9,2.8,0.691,1.5,2.3,3.8,1.0,1.0,0.3,1.4,2.5,9.3
1,2,Shareef Abdur-Rahim,SF,22,VAN,50,50,40.4,7.7,17.9,0.432,0.2,0.7,0.306,7.5,17.1,0.438,0.438,7.4,8.8,0.841,2.3,5.2,7.5,3.4,1.4,1.1,3.7,2.7,23.0
2,3,Cory Alexander,PG,25,DEN,36,4,21.6,2.7,7.2,0.373,0.8,2.9,0.286,1.9,4.3,0.432,0.431,1.0,1.2,0.841,0.2,1.9,2.1,3.3,1.0,0.1,1.9,2.1,7.3
3,4,Ray Allen*,SG,23,MIL,50,50,34.4,6.1,13.5,0.450,1.5,4.2,0.356,4.6,9.3,0.492,0.505,3.5,3.9,0.903,1.1,3.1,4.2,3.6,1.1,0.1,2.4,2.3,17.1
4,5,Peter Aluma,C,25,SAC,2,0,2.5,0.5,1.0,0.500,0.0,0.0,NaN,0.5,1.0,0.500,0.500,0.0,0.0,NaN,0.5,0.5,1.0,0.0,0.5,0.5,1.0,2.0,1.0

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      507 non-null    int64
 1   Player  507 non-null    object
 2   Pos     507 non-null    object
 3   Age     507 non-null    int64
 4   Tm      507 non-null    object
 5   G       507 non-null    int64
 6   GS      507 non-null    int64
 7   MP      507 non-null    float64
 8   FG      507 non-null    float64
 9   FGA     507 non-null    float64
 10  FG%     503 non-null    float64
 11  3P      507 non-null    float64
 12  3PA     507 non-null    float64
 13  3P%     384 non-null    float64
 14  2P      507 non-null    float64
 15  2PA     507 non-null    float64
 16  2P%     502 non-null    float64
 17  eFG%    503 non-null    float64
 18  FT      507 non-null    float64
 19  FTA     507 non-null    float64
 20  FT%     472 non-null    float64
 21  ORB     507 non-null    float64
 22  DRB     507 non-null    float64
 23  TRB     507 non-null    float64
 24  AST     507 non-null    float64
 25  STL     507 non-null    float64
 26  BLK     507 non-null    float64
 27  TOV     507 non-null    float64
 28  PF      507 non-null    float64
 29  PTS     507 non-null    float64
dtypes: float64(23), int64(4), object(3)
memory usage: 119.0+ KB

In [12]:
data = pd.read_csv('scrapedata/per_game_stats_2010.csv')
data.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Arron Afflalo,SG,24,DEN,82,75,27.1,3.3,7.1,0.465,1.3,3.0,0.434,2.0,4.1,0.488,0.557,0.9,1.2,0.735,0.7,2.4,3.1,1.7,0.6,0.4,0.9,2.7,8.8
1,2,Alexis Ajinça,C,21,CHA,6,0,5.0,0.8,1.7,0.500,0.0,0.0,NaN,0.8,1.7,0.500,0.500,0.0,0.2,0.000,0.2,0.5,0.7,0.0,0.2,0.2,0.3,0.8,1.7
2,3,LaMarcus Aldridge,PF,24,POR,78,78,37.5,7.4,15.0,0.495,0.1,0.2,0.313,7.4,14.8,0.498,0.497,2.9,3.9,0.757,2.5,5.6,8.0,2.1,0.9,0.6,1.3,3.0,17.9
3,4,Joe Alexander,SF,23,CHI,8,0,3.6,0.1,0.8,0.167,0.0,0.1,0.000,0.1,0.6,0.200,0.167,0.3,0.4,0.667,0.3,0.4,0.6,0.3,0.1,0.1,0.0,1.1,0.5
4,5,Malik Allen,PF,31,DEN,51,3,8.9,0.9,2.3,0.397,0.0,0.1,0.167,0.9,2.2,0.409,0.401,0.2,0.3,0.923,0.7,0.9,1.6,0.3,0.2,0.1,0.4,1.3,2.1

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      578 non-null    int64
 1   Player  578 non-null    object
 2   Pos     578 non-null    object
 3   Age     578 non-null    int64
 4   Tm      578 non-null    object
 5   G       578 non-null    int64
 6   GS      578 non-null    int64
 7   MP      578 non-null    float64
 8   FG      578 non-null    float64
 9   FGA     578 non-null    float64
 10  FG%     575 non-null    float64
 11  3P      578 non-null    float64
 12  3PA     578 non-null    float64
 13  3P%     485 non-null    float64
 14  2P      578 non-null    float64
 15  2PA     578 non-null    float64
 16  2P%     573 non-null    float64
 17  eFG%    575 non-null    float64
 18  FT      578 non-null    float64
 19  FTA     578 non-null    float64
 20  FT%     557 non-null    float64
 21  ORB     578 non-null    float64
 22  DRB     578 non-null    float64
 23  TRB     578 non-null    float64
 24  AST     578 non-null    float64
 25  STL     578 non-null    float64
 26  BLK     578 non-null    float64
 27  TOV     578 non-null    float64
 28  PF      578 non-null    float64
 29  PTS     578 non-null    float64
dtypes: float64(23), int64(4), object(3)
memory usage: 135.6+ KB

In [14]:
data = pd.read_csv('scrapedata/per_game_stats_2020.csv')
data.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Steven Adams,C,26,OKC,63,63,26.7,4.5,7.6,0.592,0.0,0.0,0.333,4.5,7.5,0.594,0.593,1.9,3.2,0.582,3.3,6.0,9.3,2.3,0.8,1.1,1.5,1.9,10.9
1,2,Bam Adebayo,PF,22,MIA,72,72,33.6,6.1,11.0,0.557,0.0,0.2,0.143,6.1,10.8,0.564,0.558,3.7,5.3,0.691,2.4,7.8,10.2,5.1,1.1,1.3,2.8,2.5,15.9
2,3,LaMarcus Aldridge,C,34,SAS,53,53,33.1,7.4,15.0,0.493,1.2,3.0,0.389,6.2,12.0,0.519,0.532,3.0,3.6,0.827,1.9,5.5,7.4,2.4,0.7,1.6,1.4,2.4,18.9
3,4,Kyle Alexander,C,23,MIA,2,0,6.5,0.5,1.0,0.500,0.0,0.0,NaN,0.5,1.0,0.500,0.500,0.0,0.0,NaN,1.0,0.5,1.5,0.0,0.0,0.0,0.5,0.5,1.0
4,5,Nickeil Alexander-Walker,SG,21,NOP,47,1,12.6,2.1,5.7,0.368,1.0,2.8,0.346,1.1,2.8,0.391,0.455,0.5,0.8,0.676,0.2,1.6,1.8,1.9,0.4,0.2,1.1,1.2,5.7

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      651 non-null    int64
 1   Player  651 non-null    object
 2   Pos     651 non-null    object
 3   Age     651 non-null    int64
 4   Tm      651 non-null    object
 5   G       651 non-null    int64
 6   GS      651 non-null    int64
 7   MP      651 non-null    float64
 8   FG      651 non-null    float64
 9   FGA     651 non-null    float64
 10  FG%     649 non-null    float64
 11  3P      651 non-null    float64
 12  3PA     651 non-null    float64
 13  3P%     616 non-null    float64
 14  2P      651 non-null    float64
 15  2PA     651 non-null    float64
 16  2P%     645 non-null    float64
 17  eFG%    649 non-null    float64
 18  FT      651 non-null    float64
 19  FTA     651 non-null    float64
 20  FT%     618 non-null    float64
 21  ORB     651 non-null    float64
 22  DRB     651 non-null    float64
 23  TRB     651 non-null    float64
 24  AST     651 non-null    float64
 25  STL     651 non-null    float64
 26  BLK     651 non-null    float64
 27  TOV     651 non-null    float64
 28  PF      651 non-null    float64
 29  PTS     651 non-null    float64
dtypes: float64(23), int64(4), object(3)
memory usage: 152.7+ KB

In [16]:
# scrape player advanced statistic data 1988-2019
for year in range(1956, 2022):
    data = []
    url = f"http://www.basketball-reference.com/leagues/NBA_{year}_advanced.html"
    soup = get_response(url)
#     table = soup.find('table', attrs={'id':'advanced_stats'})
#     table_head = table.find('thead')
#     hrow = table_head.find('tr')
#     hcols = hrow.find_all('th')
#     hcols = [ele.text.strip() for ele in hcols]
#     data.append([ele for ele in hcols if ele])
#     table_body = table.find('tbody')
#     rows = table_body.find_all('tr')
#     for row in rows:
#         cols = [ele.text.strip() for ele in row.find_all('th')]
#         # ignore rows that contain header information
#         if cols[0] == 'Rk':
#             continue
#         cols += [ele.text.strip() for ele in row.find_all('td')]
#         data.append([ele for ele in cols if ele])
#     fname = f"{directory}/{table.get('id')}_{year}.csv"
#     with open(fname, 'w') as file:
#         wr = csv.writer(file, delimiter=',', quoting=csv.QUOTE_ALL)
#         wr.writerows(data)

Requesting 'http://www.basketball-reference.com/leagues/NBA_1956_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1957_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1958_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1959_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1960_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1961_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1962_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1963_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1964_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1965_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1966_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1967_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1968_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1969_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1970_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1971_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1972_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1973_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1974_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1975_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1976_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1977_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1978_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1979_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1980_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1981_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1982_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1983_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1984_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1985_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1986_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1987_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1988_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1989_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1990_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1991_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1992_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1993_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1994_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1995_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1996_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1997_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1998_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_1999_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2000_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2001_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2002_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2003_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2004_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2005_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2006_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2007_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2008_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2009_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2010_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2011_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2012_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2013_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2014_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2015_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2016_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2017_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2018_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2019_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2020_advanced.html'
Requesting 'http://www.basketball-reference.com/leagues/NBA_2021_advanced.html'

In [17]:
data = pd.read_csv('scrapedata/advanced_stats_1956.csv')
data.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Paul Arizin*,SF,27,PHW,72,2724,21.3,0.526,0.454,10.2,2.0,12.2,0.214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Jesse Arnelle,PF,22,FTW,31,409,12.6,0.378,0.421,-0.6,0.6,0.0,-0.001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Dick Atha,SG,24,NYK,25,288,11.4,0.466,0.307,0.3,0.2,0.5,0.076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Jim Baechtold,SF,28,NYK,70,1738,14.2,0.467,0.419,2.3,0.8,3.2,0.088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Ernie Barrett,SG,26,BOS,72,1451,11.2,0.433,0.221,0.5,1.0,1.5,0.051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      106 non-null    int64
 1   Player  106 non-null    object
 2   Pos     106 non-null    object
 3   Age     106 non-null    int64
 4   Tm      106 non-null    object
 5   G       106 non-null    int64
 6   MP      106 non-null    int64
 7   PER     106 non-null    float64
 8   TS%     106 non-null    float64
 9   3PAr    106 non-null    float64
 10  FTr     106 non-null    float64
 11  ORB%    106 non-null    float64
 12  DRB%    106 non-null    float64
 13  TRB%    106 non-null    float64
 14  AST%    0 non-null      float64
 15  STL%    0 non-null      float64
 16  BLK%    0 non-null      float64
 17  TOV%    0 non-null      float64
 18  USG%    0 non-null      float64
 19  OWS     0 non-null      float64
 20  DWS     0 non-null      float64
 21  WS      0 non-null      float64
 22  WS/48   0 non-null      float64
 23  OBPM    0 non-null      float64
 24  DBPM    0 non-null      float64
 25  BPM     0 non-null      float64
 26  VORP    0 non-null      float64
dtypes: float64(20), int64(4), object(3)
memory usage: 22.5+ KB

In [19]:
data = pd.read_csv('scrapedata/advanced_stats_1970.csv')
data.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Zaid Abdul-Aziz,PF,23,MIL,80,1637,12.4,0.473,0.339,4.5,0.0,2.0,2.0,0.059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Kareem Abdul-Jabbar*,C,22,MIL,82,3534,22.5,0.552,0.410,13.1,9.3,4.5,13.8,0.187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Rick Adelman*,PG,23,SDR,35,717,10.2,0.453,0.368,18.7,-0.2,0.9,0.7,0.048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Lucius Allen,PG,22,SEA,81,1817,13.7,0.495,0.360,24.5,1.2,1.0,2.2,0.059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Wally Anderzunas,SF,24,CIN,44,370,8.8,0.427,0.277,3.2,-0.4,0.3,-0.2,-0.023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      201 non-null    int64
 1   Player  201 non-null    object
 2   Pos     201 non-null    object
 3   Age     201 non-null    int64
 4   Tm      201 non-null    object
 5   G       201 non-null    int64
 6   MP      201 non-null    int64
 7   PER     201 non-null    float64
 8   TS%     201 non-null    float64
 9   3PAr    201 non-null    float64
 10  FTr     201 non-null    float64
 11  ORB%    201 non-null    float64
 12  DRB%    201 non-null    float64
 13  TRB%    201 non-null    float64
 14  AST%    201 non-null    float64
 15  STL%    0 non-null      float64
 16  BLK%    0 non-null      float64
 17  TOV%    0 non-null      float64
 18  USG%    0 non-null      float64
 19  OWS     0 non-null      float64
 20  DWS     0 non-null      float64
 21  WS      0 non-null      float64
 22  WS/48   0 non-null      float64
 23  OBPM    0 non-null      float64
 24  DBPM    0 non-null      float64
 25  BPM     0 non-null      float64
 26  VORP    0 non-null      float64
dtypes: float64(20), int64(4), object(3)
memory usage: 42.5+ KB

In [21]:
data = pd.read_csv('scrapedata/advanced_stats_1985.csv')
data.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Kareem Abdul-Jabbar*,C,37,LAL,79,2630,22.9,0.628,0.001,0.327,7.7,18.2,13.5,13.1,1.1,3.3,12.5,24.3,7.6,3.6,11.2,0.204,3.9,1.2,5.1,4.8
1,2,Alvan Adams,PF,30,PHO,82,2136,19.8,0.578,0.000,0.309,8.2,18.1,13.3,21.8,2.5,1.3,15.9,23.6,3.5,3.3,6.8,0.152,2.3,1.7,4.0,3.2
2,3,Mark Aguirre,SF,25,DAL,80,2699,21.3,0.563,0.054,0.370,7.8,12.5,10.1,15.3,1.1,0.5,12.2,32.2,5.3,1.9,7.2,0.128,3.5,-1.7,1.8,2.6
3,4,Danny Ainge,SG,25,BOS,75,2564,14.2,0.570,0.071,0.172,3.4,7.9,5.8,19.9,2.2,0.1,14.9,15.9,3.9,2.8,6.6,0.124,-0.1,0.8,0.7,1.8
4,5,Chuck Aleksinas,C,25,GSW,74,1114,9.1,0.509,0.003,0.223,8.1,20.1,13.6,4.4,0.6,0.8,16.3,15.6,0.1,0.4,0.4,0.019,-3.8,-1.9,-5.6,-1.0

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      362 non-null    int64
 1   Player  362 non-null    object
 2   Pos     362 non-null    object
 3   Age     362 non-null    int64
 4   Tm      362 non-null    object
 5   G       362 non-null    int64
 6   MP      362 non-null    int64
 7   PER     362 non-null    float64
 8   TS%     362 non-null    float64
 9   3PAr    362 non-null    float64
 10  FTr     362 non-null    float64
 11  ORB%    362 non-null    float64
 12  DRB%    362 non-null    float64
 13  TRB%    362 non-null    float64
 14  AST%    362 non-null    float64
 15  STL%    362 non-null    float64
 16  BLK%    362 non-null    float64
 17  TOV%    362 non-null    float64
 18  USG%    362 non-null    float64
 19  OWS     362 non-null    float64
 20  DWS     362 non-null    float64
 21  WS      362 non-null    float64
 22  WS/48   362 non-null    float64
 23  OBPM    362 non-null    float64
 24  DBPM    362 non-null    float64
 25  BPM     362 non-null    float64
 26  VORP    362 non-null    float64
dtypes: float64(20), int64(4), object(3)
memory usage: 76.5+ KB

In [23]:
data = pd.read_csv('scrapedata/advanced_stats_1999.csv')
data.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Tariq Abdul-Wahad,SG,24,SAC,49,1205,11.8,0.486,0.052,0.334,6.3,9.9,8.1,6.5,2.1,0.8,13.0,19.0,0.5,0.9,1.4,0.058,-2.5,-0.5,-3.0,-0.3
1,2,Shareef Abdur-Rahim,SF,22,VAN,50,2021,20.7,0.530,0.040,0.492,6.5,15.4,10.9,17.6,1.8,2.0,14.6,28.9,3.7,0.9,4.6,0.108,2.9,-0.9,2.0,2.1
2,3,Cory Alexander,PG,25,DEN,36,778,11.0,0.467,0.404,0.169,1.0,10.3,5.5,26.6,2.4,0.5,19.8,20.3,-0.2,0.0,-0.3,-0.016,-2.1,-1.3,-3.4,-0.3
3,4,Ray Allen*,SG,23,MIL,50,1719,18.9,0.564,0.309,0.290,4.1,10.7,7.4,18.8,1.7,0.3,13.9,24.5,4.2,1.1,5.2,0.146,3.5,-1.0,2.4,1.9
4,5,Peter Aluma,C,25,SAC,2,5,3.1,0.500,0.000,0.000,21.2,21.0,21.1,0.0,10.0,12.7,50.0,34.1,0.0,0.0,0.0,-0.206,-26.4,6.6,-19.8,0.0

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      507 non-null    int64
 1   Player  507 non-null    object
 2   Pos     507 non-null    object
 3   Age     507 non-null    int64
 4   Tm      507 non-null    object
 5   G       507 non-null    int64
 6   MP      507 non-null    int64
 7   PER     507 non-null    float64
 8   TS%     507 non-null    float64
 9   3PAr    507 non-null    float64
 10  FTr     507 non-null    float64
 11  ORB%    507 non-null    float64
 12  DRB%    507 non-null    float64
 13  TRB%    507 non-null    float64
 14  AST%    507 non-null    float64
 15  STL%    507 non-null    float64
 16  BLK%    507 non-null    float64
 17  TOV%    507 non-null    float64
 18  USG%    507 non-null    float64
 19  OWS     507 non-null    float64
 20  DWS     507 non-null    float64
 21  WS      507 non-null    float64
 22  WS/48   507 non-null    float64
 23  OBPM    504 non-null    float64
 24  DBPM    504 non-null    float64
 25  BPM     503 non-null    float64
 26  VORP    503 non-null    float64
dtypes: float64(20), int64(4), object(3)
memory usage: 107.1+ KB

In [25]:
data = pd.read_csv('scrapedata/advanced_stats_2010.csv')
data.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Arron Afflalo,SG,24,DEN,82,2221,10.9,0.576,0.426,0.168,3.1,9.9,6.5,9.3,1.0,1.0,10.5,14.0,2.8,1.4,4.3,0.092,-0.2,-0.2,-0.4,0.9
1,2,Alexis Ajinça,C,21,CHA,6,30,6.3,0.479,0.000,0.100,4.1,11.8,8.0,0.0,1.8,2.7,16.1,19.3,-0.1,0.0,0.0,-0.013,-6.3,1.0,-5.3,0.0
2,3,LaMarcus Aldridge,PF,24,POR,78,2922,18.2,0.535,0.014,0.260,8.1,18.6,13.3,9.9,1.3,1.3,7.4,22.9,5.5,3.3,8.8,0.145,1.4,-0.2,1.2,2.3
3,4,Joe Alexander,SF,23,CHI,8,29,2.8,0.273,0.167,0.500,7.8,11.3,9.6,9.3,1.8,2.6,0.0,11.3,0.0,0.0,0.0,0.030,-9.1,0.9,-8.3,0.0
4,5,Malik Allen,PF,31,DEN,51,456,5.9,0.431,0.052,0.112,9.2,11.5,10.4,5.1,1.2,0.8,15.3,14.0,-0.3,0.3,0.1,0.009,-4.7,-1.0,-5.7,-0.4

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      578 non-null    int64
 1   Player  578 non-null    object
 2   Pos     578 non-null    object
 3   Age     578 non-null    int64
 4   Tm      578 non-null    object
 5   G       578 non-null    int64
 6   MP      578 non-null    int64
 7   PER     578 non-null    float64
 8   TS%     578 non-null    float64
 9   3PAr    578 non-null    float64
 10  FTr     578 non-null    float64
 11  ORB%    578 non-null    float64
 12  DRB%    578 non-null    float64
 13  TRB%    578 non-null    float64
 14  AST%    577 non-null    float64
 15  STL%    577 non-null    float64
 16  BLK%    577 non-null    float64
 17  TOV%    577 non-null    float64
 18  USG%    577 non-null    float64
 19  OWS     577 non-null    float64
 20  DWS     577 non-null    float64
 21  WS      577 non-null    float64
 22  WS/48   577 non-null    float64
 23  OBPM    576 non-null    float64
 24  DBPM    575 non-null    float64
 25  BPM     575 non-null    float64
 26  VORP    575 non-null    float64
dtypes: float64(20), int64(4), object(3)
memory usage: 122.0+ KB

In [27]:
data = pd.read_csv('scrapedata/advanced_stats_2020.csv')
data.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Steven Adams,C,26,OKC,63,1680,20.5,0.604,0.006,0.421,14.0,24.0,19.2,13.2,1.5,3.4,14.2,17.3,3.8,2.7,6.5,0.185,1.9,1.1,2.9,2.1
1,2,Bam Adebayo,PF,22,MIA,72,2417,20.3,0.598,0.018,0.484,8.5,24.9,17.0,24.2,1.7,3.8,17.6,21.2,4.6,3.9,8.5,0.168,1.4,2.0,3.4,3.3
2,3,LaMarcus Aldridge,C,34,SAS,53,1754,19.7,0.571,0.198,0.241,6.3,17.8,12.0,11.4,1.0,4.4,7.8,23.4,3.0,1.4,4.5,0.122,1.8,-0.5,1.4,1.5
3,4,Kyle Alexander,C,23,MIA,2,13,4.7,0.500,0.000,0.000,17.9,8.3,12.9,0.0,0.0,0.0,33.3,10.2,0.0,0.0,0.0,-0.003,-6.4,-3.7,-10.1,0.0
4,5,Nickeil Alexander-Walker,SG,21,NOP,47,591,8.9,0.473,0.500,0.139,1.6,13.5,7.5,21.1,1.3,1.1,16.1,23.3,-0.7,0.4,-0.2,-0.020,-3.2,-1.4,-4.6,-0.4

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      651 non-null    int64
 1   Player  651 non-null    object
 2   Pos     651 non-null    object
 3   Age     651 non-null    int64
 4   Tm      651 non-null    object
 5   G       651 non-null    int64
 6   MP      651 non-null    int64
 7   PER     651 non-null    float64
 8   TS%     651 non-null    float64
 9   3PAr    651 non-null    float64
 10  FTr     651 non-null    float64
 11  ORB%    651 non-null    float64
 12  DRB%    651 non-null    float64
 13  TRB%    651 non-null    float64
 14  AST%    651 non-null    float64
 15  STL%    651 non-null    float64
 16  BLK%    651 non-null    float64
 17  TOV%    651 non-null    float64
 18  USG%    651 non-null    float64
 19  OWS     651 non-null    float64
 20  DWS     651 non-null    float64
 21  WS      651 non-null    float64
 22  WS/48   651 non-null    float64
 23  OBPM    649 non-null    float64
 24  DBPM    649 non-null    float64
 25  BPM     649 non-null    float64
 26  VORP    649 non-null    float64
dtypes: float64(20), int64(4), object(3)
memory usage: 137.4+ KB

In [29]:
#scrape MVP voting data 1988-2018
for year in range(1956,2022):
    data = []
    url = f"http://www.basketball-reference.com/awards/awards_{year}.html"
    soup = get_response(url)
#     if not soup:
#         continue
#     try:
#         table = soup.find('table', attrs={'id':'mvp'})
#         table_head = table.find('thead')
#         hrow = table_head.find_all('tr')[1]
#         hcols = hrow.find_all('th')
#         hcols = [ele.text.strip() for ele in hcols]
#         data.append([ele for ele in hcols if ele])
#         table_body = table.find('tbody')
#         rows = table_body.find_all('tr')
#     except:
#         continue
#     # because the 'Rank' column is broken we'll do it ourselves
#     rank = 0
#     for row in rows:
#         rank += 1
#         line = [rank]
#         cols = [ele.text.strip() for ele in row.find_all('td')]
#         line += [ele for ele in cols]
#         data.append([ele for ele in line if ele])
#     fname = f"{directory}/mvp_voting_{year}.csv"
#     with open(fname, 'w') as file:
#         wr = csv.writer(file, delimiter=',', quoting=csv.QUOTE_ALL)
#         wr.writerows(data)

Requesting 'http://www.basketball-reference.com/awards/awards_1956.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1957.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1958.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1959.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1960.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1961.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1962.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1963.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1964.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1965.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1966.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1967.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1968.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1969.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1970.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1971.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1972.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1973.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1974.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1975.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1976.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1977.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1978.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1979.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1980.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1981.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1982.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1983.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1984.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1985.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1986.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1987.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1988.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1989.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1990.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1991.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1992.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1993.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1994.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1995.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1996.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1997.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1998.html'
Requesting 'http://www.basketball-reference.com/awards/awards_1999.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2000.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2001.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2002.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2003.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2004.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2005.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2006.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2007.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2008.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2009.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2010.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2011.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2012.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2013.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2014.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2015.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2016.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2017.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2018.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2019.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2020.html'
Requesting 'http://www.basketball-reference.com/awards/awards_2021.html'

In [30]:
data = pd.read_csv('scrapedata/mvp_voting_1956.csv')
data.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,Bob Pettit,23,STL,33.0,33.0,80,0.413,72,38.8,25.7,16.2,2.6,0.429,0.736,13.8,0.236,NaN,NaN,NaN
1,2,Paul Arizin,27,PHW,21.0,21.0,80,0.263,72,37.8,24.2,7.5,2.6,0.448,0.810,12.2,0.214,NaN,NaN,NaN
2,3,Bob Cousy,27,BOS,11.0,11.0,80,0.138,72,38.4,18.8,6.8,8.9,0.360,0.844,6.8,0.119,NaN,NaN,NaN
3,4,Mel Hutchins,27,FTW,9.0,9.0,80,0.113,66,33.9,12.0,7.5,2.7,0.425,0.643,4.4,0.095,NaN,NaN,NaN
4,5,Dolph Schayes,27,SYR,2.0,2.0,80,0.025,72,35.0,20.4,12.4,2.8,0.387,0.858,11.8,0.225,NaN,NaN,NaN

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     8 non-null      int64
 1   Player   8 non-null      object
 2   Age      8 non-null      int64
 3   Tm       8 non-null      object
 4   First    8 non-null      float64
 5   Pts Won  8 non-null      float64
 6   Pts Max  8 non-null      int64
 7   Share    8 non-null      float64
 8   G        8 non-null      int64
 9   MP       8 non-null      float64
 10  PTS      8 non-null      float64
 11  TRB      8 non-null      float64
 12  AST      8 non-null      float64
 13  STL      8 non-null      float64
 14  BLK      8 non-null      float64
 15  FG%      8 non-null      float64
 16  3P%      8 non-null      float64
 17  FT%      0 non-null      float64
 18  WS       0 non-null      float64
 19  WS/48    0 non-null      float64
dtypes: float64(14), int64(4), object(2)
memory usage: 1.4+ KB

In [32]:
data = pd.read_csv('scrapedata/mvp_voting_1980.csv')
data.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,Kareem Abdul-Jabbar,32,LAL,147.0,147.0,221,0.665,82,38.3,24.8,10.8,4.5,1.0,3.4,0.604,0.000,0.765,14.8,0.227
1,2,Julius Erving,29,PHI,31.5,31.5,221,0.143,78,36.1,26.9,7.4,4.6,2.2,1.8,0.519,0.200,0.787,12.5,0.213
2,3,George Gervin,27,SAS,19.0,19.0,221,0.086,78,37.6,33.1,5.2,2.6,1.4,1.0,0.528,0.314,0.852,10.6,0.173
3,4,Larry Bird,23,BOS,15.0,15.0,221,0.068,82,36.0,21.3,10.4,4.5,1.7,0.6,0.474,0.406,0.836,11.2,0.182
4,5,Tiny Archibald,31,BOS,2.0,2.0,221,0.009,80,35.8,14.1,2.5,8.4,1.3,0.1,0.482,0.222,0.830,8.9,0.148

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     9 non-null      int64
 1   Player   9 non-null      object
 2   Age      9 non-null      int64
 3   Tm       9 non-null      object
 4   First    9 non-null      float64
 5   Pts Won  9 non-null      float64
 6   Pts Max  9 non-null      int64
 7   Share    9 non-null      float64
 8   G        9 non-null      int64
 9   MP       9 non-null      float64
 10  PTS      9 non-null      float64
 11  TRB      9 non-null      float64
 12  AST      9 non-null      float64
 13  STL      9 non-null      float64
 14  BLK      9 non-null      float64
 15  FG%      9 non-null      float64
 16  3P%      9 non-null      float64
 17  FT%      9 non-null      float64
 18  WS       9 non-null      float64
 19  WS/48    9 non-null      float64
dtypes: float64(14), int64(4), object(2)
memory usage: 1.5+ KB

In [34]:
data = pd.read_csv('scrapedata/mvp_voting_1999.csv')
data.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,Karl Malone,35,UTA,44.0,827.0,1180,0.701,49,37.4,23.8,9.4,4.1,1.3,0.6,0.493,0.000,0.788,9.6,0.252
1,2,Alonzo Mourning,28,MIA,36.0,773.0,1180,0.655,46,38.1,20.1,11.0,1.6,0.7,3.9,0.511,0.000,0.652,7.9,0.216
2,3,Tim Duncan,22,SAS,30.0,740.0,1180,0.627,50,39.3,21.7,11.4,2.4,0.9,2.5,0.495,0.143,0.690,8.7,0.213
3,4,Allen Iverson,23,PHI,5.0,319.0,1180,0.270,48,41.5,26.8,4.9,4.6,2.3,0.1,0.412,0.291,0.751,7.2,0.173
4,5,Jason Kidd,25,PHO,2.0,159.0,1180,0.135,50,41.2,16.9,6.8,10.8,2.3,0.4,0.444,0.366,0.757,8.1,0.188

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     21 non-null     int64
 1   Player   21 non-null     object
 2   Age      21 non-null     int64
 3   Tm       21 non-null     object
 4   First    21 non-null     float64
 5   Pts Won  21 non-null     float64
 6   Pts Max  21 non-null     int64
 7   Share    21 non-null     float64
 8   G        21 non-null     int64
 9   MP       21 non-null     float64
 10  PTS      21 non-null     float64
 11  TRB      21 non-null     float64
 12  AST      21 non-null     float64
 13  STL      21 non-null     float64
 14  BLK      21 non-null     float64
 15  FG%      21 non-null     float64
 16  3P%      21 non-null     float64
 17  FT%      21 non-null     float64
 18  WS       21 non-null     float64
 19  WS/48    21 non-null     float64
dtypes: float64(14), int64(4), object(2)
memory usage: 3.4+ KB

In [36]:
data = pd.read_csv('scrapedata/mvp_voting_2010.csv')
data.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,LeBron James,25,CLE,116.0,1205.0,1230,0.980,76,39.0,29.7,7.3,8.6,1.6,1.0,0.503,0.333,0.767,18.5,0.299
1,2,Kevin Durant,21,OKC,4.0,609.0,1230,0.495,82,39.5,30.1,7.6,2.8,1.4,1.0,0.476,0.365,0.900,16.1,0.238
2,3,Kobe Bryant,31,LAL,0.0,599.0,1230,0.487,73,38.8,27.0,5.4,5.0,1.5,0.3,0.456,0.329,0.811,9.4,0.160
3,4,Dwight Howard,24,ORL,3.0,478.0,1230,0.389,82,34.7,18.3,13.2,1.8,0.9,2.8,0.612,0.000,0.592,13.2,0.223
4,5,Dwyane Wade,28,MIA,0.0,119.0,1230,0.097,77,36.3,26.6,4.8,6.5,1.8,1.1,0.476,0.300,0.761,13.0,0.224

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     15 non-null     int64
 1   Player   15 non-null     object
 2   Age      15 non-null     int64
 3   Tm       15 non-null     object
 4   First    15 non-null     float64
 5   Pts Won  15 non-null     float64
 6   Pts Max  15 non-null     int64
 7   Share    15 non-null     float64
 8   G        15 non-null     int64
 9   MP       15 non-null     float64
 10  PTS      15 non-null     float64
 11  TRB      15 non-null     float64
 12  AST      15 non-null     float64
 13  STL      15 non-null     float64
 14  BLK      15 non-null     float64
 15  FG%      15 non-null     float64
 16  3P%      15 non-null     float64
 17  FT%      15 non-null     float64
 18  WS       15 non-null     float64
 19  WS/48    15 non-null     float64
dtypes: float64(14), int64(4), object(2)
memory usage: 2.5+ KB

In [38]:
data = pd.read_csv('scrapedata/mvp_voting_2020.csv')
data.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,Giannis Antetokounmpo,25,MIL,85.0,962.0,1010,0.952,63,30.4,29.5,13.6,5.6,1.0,1.0,0.553,0.304,0.633,11.1,0.279
1,2,LeBron James,35,LAL,16.0,753.0,1010,0.746,67,34.6,25.3,7.8,10.2,1.2,0.5,0.493,0.348,0.693,9.8,0.204
2,3,James Harden,30,HOU,0.0,367.0,1010,0.363,68,36.5,34.3,6.6,7.5,1.8,0.9,0.444,0.355,0.865,13.1,0.254
3,4,Luka Dončić,20,DAL,0.0,200.0,1010,0.198,61,33.6,28.8,9.4,8.8,1.0,0.2,0.463,0.316,0.758,8.8,0.207
4,5,Kawhi Leonard,28,LAC,0.0,168.0,1010,0.166,57,32.4,27.1,7.1,4.9,1.8,0.6,0.470,0.378,0.886,8.7,0.226

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     12 non-null     int64
 1   Player   12 non-null     object
 2   Age      12 non-null     int64
 3   Tm       12 non-null     object
 4   First    12 non-null     float64
 5   Pts Won  12 non-null     float64
 6   Pts Max  12 non-null     int64
 7   Share    12 non-null     float64
 8   G        12 non-null     int64
 9   MP       12 non-null     float64
 10  PTS      12 non-null     float64
 11  TRB      12 non-null     float64
 12  AST      12 non-null     float64
 13  STL      12 non-null     float64
 14  BLK      12 non-null     float64
 15  FG%      12 non-null     float64
 16  3P%      12 non-null     float64
 17  FT%      12 non-null     float64
 18  WS       12 non-null     float64
 19  WS/48    12 non-null     float64
dtypes: float64(14), int64(4), object(2)
memory usage: 2.0+ KB

In [40]:
'''
NOTE: This section of code is heavily adapted from https://github.com/stevenrdungan/mvp

Merges all our scraped data together - MVP voting data, Per game data, Seed, Advanced stats, all NBA awards and honors, rookie data

I'll use this to make MVP (among other) predictions.  I will use leaders dataset to measure the quality of the leader variable.

'''

teams = {'Atlanta Hawks':'ATL',
'Boston Celtics':'BOS',
'Brooklyn Nets':'BRK',
'Charlotte Bobcats':'CHA',
'Charlotte Hornets':'CHO',
'Chicago Bulls':'CHI',
'Cleveland Cavaliers':'CLE',
'Dallas Mavericks':'DAL',
'Denver Nuggets':'DEN',
'Detroit Pistons':'DET',
'Golden State Warriors':'GSW',
'Houston Rockets':'HOU',
'Indiana Pacers':'IND',
'Los Angeles Clippers':'LAC',
'Los Angeles Lakers':'LAL',
'Memphis Grizzlies':'MEM',
'Miami Heat':'MIA',
'Milwaukee Bucks':'MIL',
'Minnesota Timberwolves':'MIN',
'New Jersey Nets':'NJN',
'New Orleans Hornets':'NOH',
'New Orleans Pelicans':'NOP',
'New OrleansOklahoma City Hornets':'NOK',
'New York Knicks':'NYK',
'Oklahoma City Thunder':'OKC',
'Orlando Magic':'ORL',
'Philadelphia 76ers':'PHI',
'Phoenix Suns':'PHO',
'Portland Trail Blazers':'POR',
'Sacramento Kings':'SAC',
'San Antonio Spurs':'SAS',
'Seattle SuperSonics':'SEA',
'Toronto Raptors':'TOR',
'Utah Jazz':'UTA',
'Vancouver Grizzlies':'VAN',
'Washington Bullets':'WSB',
'Washington Wizards':'WAS'}

pd.set_option('precision', 3)
data = pd.DataFrame()   # this will be our dataset
directory = os.path.join(os.getcwd(),'scrapedata')

for year in range(1988,2020):
    # read data into DataFrames
    pergame, advanced, voting, mvp_voting, roy_voting, dpoy_voting, smoy_voting, mip_voting, east, west, all_nba, all_rookie, all_defensive, is_rookie  = pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame() 
    for filename in os.listdir(directory):
        if re.match(f"per_game_stats_{year}.csv", filename):
            pergame = pd.read_csv(os.path.join(directory,filename))
            if year == 2017:
                if 'PS/G' in pergame.columns:
                    pergame=pergame.rename(index=str, columns={"PS/G": "PTS"})
        elif re.match(f"advanced_stats_{year}.csv", filename):
            advanced = pd.read_csv(os.path.join(directory,filename))    
        elif re.match(f"mvp_voting_{year}.csv", filename):
            mvp_voting = pd.read_csv(os.path.join(directory,filename))

    # assemble stats dataframe
    pergame = pergame.loc[:,['Player','Age','Tm','G','MP','TRB','AST','STL','BLK','PTS',"FGA",'FG%','3PA','3P%','eFG%','FT%','TOV','PF']]
    advanced = advanced.loc[:,['Player','Age','Tm','PER','TS%','USG%','VORP','WS','TRB%','AST%','STL%','BLK%','TOV%','WS/48','BPM']]
    if pergame["G"].max() != 82:
                advanced["WS"]=advanced["WS"]*(82/pergame["G"].max())  #ADJUST WIN SHARE FOR FULL SEASON in lockout years
                advanced["VORP"]=advanced["VORP"]*(82/pergame["G"].max())  #ADJUST WIN SHARE FOR FULL SEASON in lockout years #2011 and 1999 and 2019
    stats = pd.merge(pergame, advanced, on=['Player','Age','Tm'], how='left')
    stats['Year'] = year
    # remove asterisk symbol from player name (Hall of Famers)
    stats['Player'].replace(to_replace=r'\*', value=r'', regex=True, inplace=True)
    # drop all duplicate rows (i.e. players who played on multiple teams in same season)
    stats = stats.drop_duplicates(subset=['Player','Age'], keep=False)
    # only keep rows for players playing 25 minutes per game or more
    stats = stats[stats.MP >= 25.0]
    # box is sum of rebounds, assists, steals, blocks
    stats['box'] = stats['TRB'] + stats['AST'] + stats['STL'] + stats['BLK']
    df_merge = stats
    
    #All-NBA, All-Rookie, All Star
    
    if not mvp_voting.empty: #Load MVP data
        mvp_voting['Tm'] = mvp_voting['Tm'].str.strip()
        mvp_voting = mvp_voting.loc[:,['Player','Tm','Share','Rank']]
        mvp_voting = mvp_voting.rename(columns={"Share":"Share_mvp","Rank":"Rank_mvp"})
        df_merge = pd.merge(df_merge, mvp_voting, on=['Player','Tm'], how='left')
        df_merge['got_votes_mvp'] = (df_merge['Share_mvp'] > 0).astype(int)
        df_merge['is_mvp'] = (df_merge['Rank_mvp'] == 1).astype(int)
        df_merge['Share_mvp'].fillna(0, inplace=True)
    else:
        df_merge['is_mvp'] = np.nan
        df_merge['got_votes_mvp'] = np.nan
        df_merge['Share_mvp']= np.nan
        
    df_merge['gp_pct'] = df_merge['G'] / 82
    if data.empty:
        data = df_merge
    else:
        data = pd.concat([data,df_merge])

data['Share_mvp'] = data['Share_mvp'].map(lambda x: '{0:.3}'.format(x))

data['Share_mvp']=data.Share_mvp.astype('float')

data=data.set_index('Player')

data['TS%'] = data['TS%'].map(lambda x: '{0:.3}'.format(x))
data['TS%']=data['TS%'].astype('float')
data['gp_pct'] = data['gp_pct'].map(lambda x: '{0:.3}'.format(x))
data['gp_pct']=data['gp_pct'].astype('float')

data = data.sort_values(["Share_mvp","Year"], ascending=False)

all_data=data[data.columns]

# # output to csv in output folder
# outdir = os.path.join(os.getcwd(),'output')
# if not os.path.exists(outdir):
#     print(f"Creating directory \'{outdir}\'")
#     os.makedirs(outdir)
# all_data.to_csv(outdir + '/full_dataframe.csv', float_format='%.3f')

# all_data.columns

In [41]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4668 entries, Stephen Curry to James Worthy
Data columns (total 36 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            4668 non-null   int64
 1   Tm             4668 non-null   object
 2   G              4668 non-null   int64
 3   MP             4668 non-null   float64
 4   TRB            4668 non-null   float64
 5   AST            4668 non-null   float64
 6   STL            4668 non-null   float64
 7   BLK            4668 non-null   float64
 8   PTS            4668 non-null   float64
 9   FGA            4668 non-null   float64
 10  FG%            4668 non-null   float64
 11  3PA            4668 non-null   float64
 12  3P%            4439 non-null   float64
 13  eFG%           4668 non-null   float64
 14  FT%            4667 non-null   float64
 15  TOV            4668 non-null   float64
 16  PF             4668 non-null   float64
 17  PER            4668 non-null   float64
 18  TS%            4668 non-null   float64
 19  USG%           4668 non-null   float64
 20  VORP           4668 non-null   float64
 21  WS             4668 non-null   float64
 22  TRB%           4668 non-null   float64
 23  AST%           4668 non-null   float64
 24  STL%           4668 non-null   float64
 25  BLK%           4668 non-null   float64
 26  TOV%           4668 non-null   float64
 27  WS/48          4668 non-null   float64
 28  BPM            4668 non-null   float64
 29  Year           4668 non-null   int64
 30  box            4668 non-null   float64
 31  Share_mvp      4668 non-null   float64
 32  Rank_mvp       492 non-null    float64
 33  got_votes_mvp  4668 non-null   int64
 34  is_mvp         4668 non-null   int64
 35  gp_pct         4668 non-null   float64
dtypes: float64(30), int64(5), object(1)
memory usage: 1.3+ MB

In [42]:
all_data.head()

,Age,Tm,G,MP,TRB,AST,STL,BLK,PTS,FGA,FG%,3PA,3P%,eFG%,FT%,TOV,PF,PER,TS%,USG%,VORP,WS,TRB%,AST%,STL%,BLK%,TOV%,WS/48,BPM,Year,box,Share_mvp,Rank_mvp,got_votes_mvp,is_mvp,gp_pct
Player,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Stephen Curry,27,GSW,79,34.2,5.4,6.7,2.1,0.2,30.1,20.2,0.504,11.2,0.454,0.630,0.908,3.3,2.0,31.5,0.669,32.6,9.500,17.900,8.6,33.7,3.0,0.4,12.9,0.318,11.9,2016,14.4,1.000,1.0,1,1,0.963
LeBron James,28,MIA,76,37.9,8.0,7.3,1.7,0.9,26.8,17.8,0.565,3.3,0.406,0.603,0.753,3.0,1.4,31.6,0.640,30.2,9.900,19.300,13.1,36.4,2.4,1.9,12.4,0.322,11.7,2013,17.9,0.998,1.0,1,1,0.927
Shaquille O'Neal,27,LAL,79,40.0,13.6,3.8,0.5,3.0,29.7,21.1,0.574,0.0,0.000,0.574,0.524,2.8,3.2,30.6,0.578,31.2,8.682,17.944,18.3,19.3,0.6,5.3,9.9,0.283,9.3,2000,20.9,0.998,1.0,1,1,0.963
Kevin Garnett,27,MIN,82,39.4,13.9,5.0,1.5,2.2,24.2,19.6,0.499,0.5,0.256,0.502,0.791,2.6,2.5,29.4,0.547,29.6,9.647,17.654,20.1,24.4,2.0,4.0,10.5,0.272,10.2,2004,22.6,0.991,1.0,1,1,1.000
Kevin Durant,25,OKC,81,38.5,7.4,5.5,1.3,0.7,32.0,20.8,0.503,6.1,0.391,0.560,0.873,3.5,2.1,29.8,0.635,33.0,9.484,18.969,10.8,26.7,1.7,1.5,12.2,0.295,10.2,2014,14.9,0.986,1.0,1,1,0.988